In [1]:
CREATE DATABASE app_db

In [2]:
USE app_db

In [4]:
CREATE TABLE Authors (
    authorid VARCHAR(10) PRIMARY KEY ,
    name VARCHAR(255),
    bio TEXT,
);
     
CREATE TABLE Books (
    bookid VARCHAR(50) PRIMARY KEY,
    title VARCHAR(255),
    details TEXT,
    authorid VARCHAR(10) FOREIGN KEY (authorid) REFERENCES Authors(authorid)
);

In [6]:
INSERT into Authors (authorid,name,bio) VALUES('amish','Amish','Wrote the Scion of ikshvaku'),
                                             ('c_b','Chetan Bhagat','Wrote many fictional stories'),
                                             ('j_a','Jeffrey Archer','Wrote 2 books present in database'),
                                             ('jk','JK Rowlings','Wrote 7 parts of Harry Potter'),
                                             ('j_g','John Grisham','Wrote 1 book'),
                                             ('r_s_d','Ramdhari Singh Dinkar','Wrote 2 books recorded in database'),
                                             ('v_d_m','Vivek Dutta Mishra','Wrote 2 books');

INSERT  
INTO    
Books(bookid,title,details,authorid)

    VALUES 

        ('kane-and-abel','Kane and Abel','A book by jeffrey archer','j_a'),
         
        ('rashmirathi','Rashmirathi','A book by Ramdhari sing dinkar','r_s_d'), 

        ('sons-of-fortune','Sons of Fortune','A book by jeffrey archer','j_a'), 

        ('manas','Manas','A book by Vivek dutta mishra','v_d_m'), 

        ('summons','Summons','A book by John Grisham','j_g'), 

        ('five-point-someone','Five Point SomeOne','A book by Ramdhari sing dinkar','r_s_d'), 

        ('scion-of-ikshavaku','The Scion of Ikshavaku','A book by Amish','amish'), 

        ('the-accursed-god','The Accursed God','A book by Vivek dutta mishra','v_d_m');

In [7]:
CREATE TABLE Users (
    userid INT PRIMARY KEY,
    username VARCHAR(255),
    password VARCHAR(255)
);

In [8]:

INSERT  

    INTO  

        Users (userid,username,password) 

    VALUES 

        
        (1,'Rtesh','@RITESHHHH'),
        (2,'Mohak','Mohakkk'),
        (3,'Pradumn','Pradumn123');

In [9]:
CREATE TABLE Reviews (
    reviewid INT ,
    bookid VARCHAR(50) FOREIGN KEY (bookid) REFERENCES Books(bookid),
    userid INT FOREIGN KEY (userid) REFERENCES Users(userid),
    rating INT,
    review_text TEXT
);

In [10]:
INSERT INTO  
    REVIEWS(reviewid, bookid,userid, rating,review_text) 
VALUES 
    (1,'kane-and-abel',1,4,'Nice Book'),
         
    (2,'rashmirathi',2,3.5,'Good book'), 

    (3,'sons-of-fortune',3,4.5,'Thoughtfull'), 

    (4,'manas',1,4.7,'Good Book'), 

    (5,'summons',2,3.9,'Amazing'), 

    (6,'five-point-someone',3,3,'Great work'), 

    (7,'scion-of-ikshavaku',1,3.8,'Nice creativity'), 

    (8,'the-accursed-god',2,4.2,'Nice');

In [11]:
INSERT INTO  
    REVIEWS(reviewid, bookid,userid, rating,review_text) 
VALUES 
    (1,'kane-and-abel',1,4,'Nice Book');

In [12]:
SELECT * from Users;

userid,username,password
1,Rtesh,@RITESHHHH
2,Mohak,Mohakkk
3,Pradumn,Pradumn123