In [ ]:
SELECT
    author,
    COUNT(*) as books_written,
    SUM(r.votes) as total_votes,
    ROUND(AVG(CAST(rating as float)),1) as average_rating
FROM
    books as b,
    (
        SELECT 
            book_id as BOOK_id,
            COUNT(*) as votes,
            ROUND(AVG(CAST(rating as float)),1) as rating
        FROM
            reviews
        GROUP BY
            book_id
    ) as r
WHERE
    id = r.BOOK_id
GROUP BY
    author